<!DOCTYPE html> <!-- Используется html 5 версии -->
{% extends 'base.html' %}
{% block title %}
  {{ group }}
{% endblock %}
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1>Записи сообщества {{ group }}</h1> 
    {% for post in page_obj %}
    {% include 'includes/post.html' %}   
      <!-- под последним постом нет линии -->
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
    {% include 'posts/includes/paginator.html' %}
  </div>  
{% endblock %}  